@using CarInsurance.ViewModels
@model List<QuoteVM>

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Admin Quote Information</h5>
        </div>
        <div class="card-body text-center">
            @foreach (var quote in Model)
            {
                
                <div class="row mb-3">
                    <div class="col">
                        Name: @quote.FirstName @quote.LastName / @quote.EmailAddress / @quote.DateOfBirth
                        / @quote.CarYear  / @quote.CarMake  / @quote.CarModel  / $ @quote.QuoteValue
                    </div>
                    
                </div>
            }
        </div>
    </div>
</div>
